<div class="flex justify-center items-center mt-52 mb-20 w-screen text-white font-semibold">
  <div class="bg-slate-100 p-20 shadow-lg rounded-lg border">
    <button (click)="onClickLoad()" class="bg-purple-400 rounded px-4 py-2">
      Load 10 Random Activities
    </button>
  </div>
</div>

<div *ngIf="getActivities" class="grid grid-cols-3 place-items-center gap-4 w-screen">

  <div *ngFor="let act of getActivities"
       class="relative flex flex-col text-gray-700 bg-slate-100 shadow-md w-96 rounded-xl bg-clip-border">
    <div class="p-6">
      <h5
          class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
        Activity#{{act.key}}
      </h5>

      <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
        <strong>{{act.activity|titlecase}}</strong> | {{act.type|titlecase}} <br />
        <strong>Participants</strong>: {{act.participants}}<br />
        <strong>Price</strong>: {{act.participants|currency}}<br />
        <strong>Link</strong>: <a *ngIf="act.link" href="{{act.link}}" class="break-words">{{act.link}}</a>
        <span *ngIf="!act.link">None</span><br />
        <strong>Accessibility</strong>: {{act.accessibility}}
      </p>
    </div>

    <div class="p-6 pt-0 flex justify-center">
      <button (click)="onClickActivity(act.key)"
              class="select-none rounded-lg bg-purple-500 py-3 px-6 text-center font-sans text-xs font-semibold uppercase text-white shadow-md shadow-purple-500/20 transition-all hover:shadow-lg hover:shadow-purple-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true">
        Learn More
      </button>
    </div>
  </div>

</div>

<div #dialog class="hidden backdrop-blur fixed h-full w-screen top-0">
  <div class="flex justify-center items-center w-full h-full text-white">

    <div *ngIf="getActivity" class="m-auto p-5 text-xl antialiased w-1/2 rounded-lg bg-slate-400 shadow-xl">
      <div class="flex justify-between">
        <h4 class="font-semibold">Activity#{{getActivity.key}}</h4>
        <button type="button" (click)="dialog.classList.add('hidden')"
                class="bg-slate-100 rounded p-1 text-slate-950">Close</button>
      </div>

      <p class="block font-san leading-relaxed text-inherit">
        <strong>{{getActivity.activity|titlecase}}</strong> | {{getActivity.type|titlecase}} <br />
        <strong>Participants</strong>: {{getActivity.participants}}<br />
        <strong>Price</strong>: {{getActivity.participants|currency}}<br />
        <strong>Link</strong>: <a *ngIf="getActivity.link" href="{{getActivity.link}}"
           class="break-words">{{getActivity.link}}</a>
        <span *ngIf="!getActivity.link">None</span><br />
        <strong>Accessibility</strong>: {{getActivity.accessibility}}
      </p>
    </div>

  </div>
</div>
